@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 24, 24, 24;
  --background-end-rgb: 24, 24, 24;
  --markdown-vh: calc(100vh - 48px) /* 96 = 2*48 (48 = height of navbar) */
}
/* } */

ul{
  padding-left: 10px;
  padding-right: 1px;
  list-style-type: square;
  color: white;
  list-style-position: inside;
}

.tocnav ul{
  padding-left: 10px;
}

.navBar {
  list-style-type: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Inter
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 20px
}

.counterButton {
  min-height: 37px;
  min-width: 37px;
  font-weight: bold;
  font-size: 24px;
  line-height: 0;
  border-radius: 4px;
  background-color: #696773;
}

.counterButton:disabled{
  background-color: #363946;
}

.controller {
  text-align: center;
  width: 50px;
}

.customCardSet {
  display: flex;
  align-items: center;
}

.error {
  color: red;
}

.good {
  color: green;
}

.warn {
  color: yellow;
}

.white {
  color: white;
}

.logoDiv{
  max-height: 48px;
}

.organizeIcon {
  margin  : 5px;
}

.organizeIconButton {
  border-radius: 5px;
  border: 2px grey solid;
  margin: 5px; 
}

.tocOpenCloseIcon {
  margin  : 5px;
  width: 20px;
  height: 20px;
}

.tocClosedButtonBackground {
  background-color: #3694F2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: fixed;
  margin-bottom: 20px;
  bottom: 0;
  left: 0;
}

.tocOpenButtonBackground {
  background-color: #3694F2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: fixed;
  margin-bottom: 20px;
  bottom: 0;
  left: 0;
}

.tocOpenCloseButton {
  border-radius: 5px;
  border: 2px grey solid;
  margin: 5px; 
  width: 33px; /* 1 less because it looks better */
  height: 34px;
  /* (2px + 5 margin)* 2 = 14 + 20 (from above) = 34 */
}

.link {
  color: cornflowerblue;
  text-decoration: underline;
}

button.clickButton {
    padding: 10px;
    margin: 5px;
    border: 1px solid grey;
}

table, th, td {
  border: 1px solid;
}

td {
  text-align: center;
  width: 55px
}

.rotateText {
  writing-mode: vertical-rl;
  text-orientation : mixed;
  -moz-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode : vertical-rl;
}

.markdown * {
  font-family: sans-serif;
}

.markdown h1 {
  font-family: Georgia;
}

#markdownContainer {
  overflow-y: scroll;
  max-height: var(--markdown-vh);
  margin: 0 auto;
  margin-left: 10px;
}

@media print {
    .pagebreak { page-break-before: always;}
}

.markdown h1, .markdown h2 {
    font-family: Georgia;
    /* border-bottom: 1px solid #6C655D; */
    border-bottom: 1px solid #3694F2;
    margin-bottom: 0.25em;
}

.markdown h3 {
    font-size: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0;
}

.markdown h3, .markdown h4 {
    font-weight: bold
}

.markdown h4 {
  margin-top: 4px;
  padding-top: 7px;
}

.markdown h6 {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #656568
  /* margin-top: 4px; */
  /* padding-top: 7px; */
}

.markdown blockquote {
    color: #21e2e2;
    border-left: 4px solid #21e2e2;
    padding-left: 5px;
}

.markdown p {
    margin: 0.5em 0;
}

.markdown a {
    color: #3694F2;
}

.markdown .spoiler {
    color: red;
}

.markdown td, .markdown th {
  width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.markdown table td,
.markdown table th {
  white-space: break-word;
  width: auto;
  max-width: 500px;
  /* this max-width bs is done to fix skybreaker text box, but maybe it'd be better in the future
  to find some other way to store this data, not in a table, it works but for how long (and at all on mobile?) */
}

@media screen and (max-width: 500px) {
  .markdown table th {
    max-width: 100vw;
  }
}

.markdown td {
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-color:#696773;
}

.markdown tr {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.markdown table {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  max-width: 900px;
  width: auto;
  border-collapse: collapse;
  margin-top: 14px;
  margin-bottom: 14px;
}

@media screen and (max-width: 900px) {
  .markdown table {
    max-width: 100vw;
  }
}

.markdown thead {
  border-top-width: 0px;
}

/* makes it so that when clicking on links it doesn't go behind stickied header */
* {
  @media (min-height: 32em) {
    scroll-margin-top: 0px; /* used to be 80, didn't like look of it */
  }
}

.wrapper{
  display: flex;
  justify-content: center;
}

/* don't combine this with media query at bottom of page, causes bugs don't know why */
@media screen and (max-width: 799px) {
  .navBody {
    height: 100%;
    position: fixed;
    left: 0;
    width: 320px;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.97), rgba(51, 51, 51, 0.97));
    overflow-y: scroll;
    min-width: 320px;
    max-height: var(--markdown-vh);
    transition: all 0.5s ease;
  }

  .closedNavBody {
    height: 100%;
    position: fixed;
    left: 0;
    width: 0px;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.97), rgba(51, 51, 51, 0.97));
    overflow-y: scroll;
    min-width: 0px;
    max-height: var(--markdown-vh);
    transition: all 0.5s ease;
  }
}

/* don't combine this with media query at bottom of page, causes bugs don't know why */
@media screen and (min-width: 800px) {

  .navBody {
    width: 320px;
    background: #333333;
    overflow-y: scroll;
    min-width: 320px;
    max-height: var(--markdown-vh);
    transition: all 0.5s ease;
  }

  .closedNavBody {
    width: 0px;
    background: #333333;
    overflow-y: scroll;
    min-width: 0px;
    max-height: var(--markdown-vh);
    transition: all 0.5s ease;
  }
}

nav .tocnav  {
  min-width: 20px;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  overflow: auto;
}


.tocnav ul li {
  margin-bottom: 0px;
}

.markdown li p {
  display: inline;
}

.head1 {
  margin-left: 0px;
}

.head2 {
  margin-left: 20px;
}

.head3 {
  margin-left: 40px;
}

li .head3 {
  list-style-type: circle;
}

.head4 {
  margin-left: 60px;
}

li .head4 {
  list-style-type: square;
}

.markdown ol {
  list-style: decimal;
}

.markdown p, 
.markdown li,
.markdown th,
.markdown td,
.markdown i {
  font-size: 14px;
}

.markdown ul {
  list-style-position: outside;
  padding-left: 20px;
  list-style-type: disc;
}

.markdown ol {
  padding-left: 20px;
}

.markdown ol li {
  padding-bottom: 10px;
}

.markdown li::marker {
  color: #3694F2;
}

.markdown sup {
  padding-left: 2px;
}

a[href="#windrunner-order"] {
  color: #91BDEC; 
  font-weight: 600;
 }

a[href="#skybreaker-order"] {
  color: #5F5E65;
  font-weight: 600;
}

a[href="#dustbringer-order"] {
  color: #8d330a;
  font-weight: 600;
}

a[href="#edgedancer-order"] {
  color: #A1C19E;
  font-weight: 600;
}

a[href="#lightweaver-order"] {
  color: #8a0221;
  font-weight: 600;
}

a[href="#truthwatcher-order"] {
  color: #125738;
  font-weight: 600;
}

a[href="#elsecaller-order"] {
  color: #4493bf;
  font-weight: 600;
}

a[href="#stoneward-order"] {
  color: #D46424;
  font-weight: 600;
}


a[href^="http"]::after,
a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

/* full sized screen */
@media screen and (min-width: 800px) {

  .tocOpenButtonBackground {
    left: calc(320px - 43px);
    transition: 0.5s;
  }

  .tocClosedButtonBackground {
    left: 0px;
    transition: 0.5s;
  }
}

/* not full sized, so overlay table of contents, but not mobile screen. */
@media screen and (min-width: 470px) and (max-width: 799px) {

  .tocOpenButtonBackground {
    left: calc(320px - 43px);
    transition: 0.5s;
  }

  .tocClosedButtonBackground {
    left: 0px;
    transition: 0.5s;
  }
}

/* on mobile screens have side-nav fill entire screen. */
@media screen and (max-width: 469px) {
  .navBody {
    width: 469px;
    min-width: 469px;
    /* most cursed shit in this entire project */
    /* for some reason when it tries to just render a solid color as background
      when the details tags get opened and go beyond height of the screen, the opacity will get applied twice
      which then makes it not transparent at all so we lose the alpha value...
      BUT... if you make it a gradient, it must use a different engine or something becaues the issue goes away
      its hacky but sometimes you just need to get it done.
     */
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.97), rgba(51, 51, 51, 0.97));
  }

  .closedNavBody {
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.97), rgba(51, 51, 51, 0.97));
  }

  .tocOpenButtonBackground {
    left: calc(100% - 43px);
    transition: 0.5s;
  }


  .tocClosedButtonBackground {
    left: 0px;
    transition: 0.5s;
  }
}

/* .footnote {
  display: inline;
  color: blue;
  cursor: pointer;
  position: relative;
} */

/* Style for the tooltip */
/* .footnote:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  bottom: 100%;
  left: 0;
  margin-top: 10px;
} */