@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
/* } */

ul{
  padding-left: 10px;
  padding-right: 1px;
  list-style-type:square;
  color: white;
  list-style-position: inside;
}

.navBar {
  list-style-type: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: monospace
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 20px
}

.counterButton {
  min-height: 37px;
  min-width: 37px;
  font-weight: bold;
  font-size: 24px;
  line-height: 0;
  border-radius: 4px;
  background-color: #696773;
}

.counterButton:disabled{
  background-color: #363946;
}

.controller {
  text-align: center;
  width: 50px;
}

.customCardSet {
  display: flex;
  align-items: center;
}

.error {
  color: red;
}

.good {
  color: green;
}

.warn {
  color: yellow;
}

.white {
  color: white;
}

.logoDiv{
  max-height: 80px
  /* max-width: */
}

.organizeIcon {
  margin  : 5px;
}

.organizeIconButton {
  border-radius: 5px;
  border: 2px grey solid;
  margin: 5px; 
}

.link {
  color: cornflowerblue;
  text-decoration: underline;
}

button.clickButton {
    padding: 10px;
    margin: 5px;
    border: 1px solid grey;
}

table, th, td {
  border: 1px solid;
}

td {
  text-align: center;
  width: 55px
}
