@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: monospace
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 20px
}

.counterButton {
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
  /* padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 30px; */
  background-color:darkslategray;
}

.controller {
  text-align: center;
  width: 50px;
}

.customCardSet {
  display: flex;
  align-items: center;
}

.error {
  color: red;
}

.good {
  color: green;
}

.warn {
  color: yellow;
}

.white {
  color: white;
}

.logoDiv{
  max-height: 80px
  /* max-width: */
}

.organizeIcon {
  margin  : 5px;
}

.organizeIconButton {
  border-radius: 5px;
  border: 2px grey solid;
  margin: 5px; 
}

.link {
  color: cornflowerblue;
  text-decoration: underline;
}

button.clickButton {
    padding: 10px;
    margin: 5px;
    border: 1px solid grey;
}